{% extends "base.html" %}

{% block content %}
  <h1>Delete Worker</h1>

  <p>Are you sure you want to delete the worker: "{{ object }}"?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger"/>

    {% if request.META.HTTP_REFERER %}
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
    {% else %}
      <a href="{% url 'tasks:worker-list' %}" class="btn btn-secondary">Cancel</a>
    {% endif %}
  </form>
{% endblock %}
